<h3><%= @doctor.name %><br>
<%= @doctor.department %></h3>

<%= @doctor.appointments.each do |a| %>
  <%= link_to a.patient.name, patient_path(a.patient) %><br>
  <%= a.appointment_datetime.strftime("%B %d, %Y at %H:%M") %>
<% end %>